* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}

header {
  background-color: #333333;
  color: white;
  padding: 30px;
}

header p {
  margin-top: 20px;
  animation: fadeIn 3s infinite alternate;
  color: #f7c08a;
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

h1,
h2 {
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
span {
  color: #f7c08a;
}

#skills {
  background-color: #f4f4f4;
  padding: 30px;
  height: 300px;
}

.skill {
  background-color: #f7c08a;
  padding: 10px;
  border: 3px solid #fb923c;
  border-radius: 10px;
  opacity: 0.9;
  flex: 1;
}

.sy-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sx-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.text-center {
  text-align: center;
}

#about {
  padding: 50px;
  height: 250px;
}

.btn {
  display: inline-block;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  padding: 13px 20px;
  width: 260px;

  &:hover {
    background-color: #f7c08a;
    color: #333333;
  }
}
.py-5 {
  padding: 100px 0;
}
